
.top{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 170px;
    box-sizing: border-box;
    height: 48px;
}


.header1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header2{
    display: flex;
    align-items: center;
    gap: 8px;
}

.headt{
    font-size: 12px;
    color: #888989;
}
.bar{
    font-size: 12px;
    color: #E8E9E9;
}
.logo{
    font-size: 20px;
    font-weight: 900;
    width: auto;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    height: 40px;
}
.menu{
    display: inline-flex;
    font-size: 16px;
    width: auto;
    height: 40px;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
}


.middletop{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px 170px;
    background-color: #ffffff;
    z-index: 50;
    box-sizing: border-box;
    height: 64px;
    width: 100vw;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0px 0px;
}

.search{
    width: 300px;
    height: 36px;
    margin-left: auto;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding-left: 12px;
    padding-right: 36px;
    box-sizing: border-box;
}


.searchbar {
  position: relative;
  width: 300px;
  margin-left: 185px;
}

.searchicon {
  position: absolute;
  right: 10;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  color: #555;
  pointer-events: none;
}
.back
{
    height: 3600px;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}