*{
    right: 20px;
    left: 20px;
}
.mainbox{
    display: flex;
    width: 1130px;
    height: 3470.91px;
    background-color: purple;
    gap: 24px;
    margin-left: 130px;
    z-index: 10;
}
.underback{
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    background-color: #F4F4F4;
    z-index: 10;
    height: 3574.91px;
    width: auto;
    padding: 24px 40px 80px;
}
.leftmain{
    top: 130px;
    width: 737px;
    height: 3470.91px;
    left: 0;
    box-sizing: border-box;
    background-color: lightgreen;
}
.rightmain{
    top: 130px;
    width: 369px;
    height: 1122.17px;
    right: 0;
    box-sizing: border-box;
    background-color: midnightblue;
}

.box1
{
    display: flex;
    background-color: #d2e9fc;
    width:auto;
    height:138px;
    padding: 20px 56px;
    z-index: 2;
    align-items: center;
    border-radius: 15px;
}

.box1_box{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 698px;
    z-index: 1;
    gap: 10px;
}
.box1_box_c{
    flex-direction: row;
}
.title{
    color: gray;
    display: flex;
}
.content{
    display: flex;
    font-weight: 600;
    font-size: 20px;
}
.box1_img{
    width: 150px;
    height: 150px;
}